---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>Hello!</h1>

        <h2>2024.12.29</h2>

        <p>now i'm learning more about the astro!</p>
        that is cool!!

        <h3>Second day!</h3>
    </body>
</html>