---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>Here is Blog!!</h1>
        <h2>That's a easy way to create a new page</h2>
        <p>first: create a new .astro file in src/pages</p>
        <p>second: write your own content in new file </p>
        <p>third: use href to link all the pages in your home</p>
    </body>
</html>